<% layout("/layouts/boilerplate") %>
<body>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Total after Taxes</label>
              </div>
        </div>
    </div>
    <hr>


    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
         <%for(let listing of allListings){%>
                <a href="/listings/<%=listing.id%>">
                    <div class="card col listing-card">
                        <img src="<%=listing.image.url%>" class="card-img-top" alt="source image">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <div class="card-text name"><b><%= listing.title%></b></div>
                            <div class="card-text price">&#8377; <%=listing.price.toLocaleString("en-IN")%>/night
                            <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
                            </div>
                        </div>
                    </div>
                </a>
        <%}%>
    </div>

<script>
    let priceSwitch = document.getElementById("flexSwitchCheckDefault");
    priceSwitch.addEventListener("click" , ()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for (info of taxInfo){
            if(info.style.display != "inline"){
            info.style.display = "inline";
            }
            else{
                info.style.display = "none";
            }

        }
    })


</script>


</body>
